h1 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 3rem;
  text-decoration: underline;
}

hr {
  width: 100%;
  border: 1px solid gray;
}

p{
  margin: 0;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-inputs,
.range-inputs {
  display: flex;
  gap: 50px;
}

.conatiner-text,
.container-range {
  display: flex;
  flex-direction: column;
  flex-basis: 33.333%;
  gap: 10px;
}

.conatiner-text label,
.container-range label {
  display: flex;
  gap: 5px;
}

.conatiner-text label span, 
.container-range label span {
  text-align: start;
}

.conatiner-text label input,
.container-range label input {
  flex-basis: 100%;
}

.container-range {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.range_inputs {
  display: flex;
  gap: 30px;
}